name: Build docker image with the presentation

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      reason:
        description: Why did you need to rebuild the image?
        required: False
        default: Image built from master was outdated


jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:

      - name: Check Disk Space (Before Cleanup)
        run: df -h
      - name: Cleanup Docker Space
        run: docker system prune -a --volumes -f
      - name: Clear BuildKit Cache
        run: rm -rf /var/lib/buildkit/*
      - name: Free disk space
        run: |
          # Disable swap (if it exists)
          sudo swapoff -a || true
          # Remove swapfile (if it exists)
          [ -f /swapfile ] && sudo rm -f /swapfile || true
          # Clean apt cache
          sudo apt clean
          # Remove Docker images, only if they exist
          docker images -q | xargs -r docker rmi || true  # 'xargs -r' will skip if no images are found
          # Clean up all unused Docker resources (images, containers, volumes)
          docker system prune -a --volumes -f || true
          # Show disk space after cleanup
          df -h
      - name: Check Disk Space (After Cleanup)
        run: df -h

      - name: Checkout repo
        uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 0
          lfs: true
          persist-credentials: false
      - name: Pull LFS Objects
        run: git lfs pull
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build Docker image for amd64
        run: |
          docker buildx create --use
          docker buildx build \
            --platform linux/amd64 \
            -t ivanrodri2020/offlinerl:latest \
            --cache-from=type=registry,ref=ivanrodri2020/offlinerl:latest \
            --cache-to=type=registry,ref=ivanrodri2020/offlinerl:latest,mode=max \
            --push .
      - name: Check Disk Space (After Build)
        run: df -h
