name: Build docker image with the presentation

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      reason:
        description: Why did you need to rebuild the image?
        required: False
        default: Image built from master was outdated


jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Disk Space (Before Cleanup)
        run: df -h
      - name: Cleanup Docker Space
        run: docker system prune -a --volumes -f
      - name: Check Disk Space (After Cleanup)
        run: df -h
      - name: Clear BuildKit Cache
        run: rm -rf /var/lib/buildkit/*
      - name: Checkout repo
        uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 0
          lfs: true
          persist-credentials: false
      - name: Pull LFS Objects
        run: git lfs pull
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build Docker image for amd64
        run: |
          # Create and use Buildx builder
          docker buildx create --use
          
          # Build Docker image with optimizations
          docker buildx build \
            --platform linux/amd64 \
            -t myusername/myimage:latest \
            --cache-from=type=local,src=/tmp/buildkit-cache \
            --cache-to=type=local,dest=/tmp/buildkit-cache \
            --load .
          env:
          BUILDKIT_MAX_CACHE_SIZE: 20GB
        #run: |
        #  docker buildx create --use
        #  docker buildx build --platform linux/amd64 -t myusername/myimage:latest --load .
      # Step 10: Check disk space after build
      - name: Check Disk Space (After Build)
        run: df -h
      # Step 5: Upload the image as an artifact
      - name: Upload Docker Image Artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-image
          path: myimage.tar