name: Generate HTML Notebooks

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  generate_html:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repo
        uses: actions/checkout@v2.3.1

      # Step 2: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Check Disk Space (Before Cleanup)
        run: df -h
      - name: Cleanup Docker Space
        run: docker system prune -a --volumes -f
      - name: Clear BuildKit Cache
        run: rm -rf /var/lib/buildkit/*
      - name: Free disk space
        run: |
          # Disable swap (if it exists)
          sudo swapoff -a || true
          # Remove swapfile (if it exists)
          [ -f /swapfile ] && sudo rm -f /swapfile || true
          # Clean apt cache
          sudo apt clean
          # Remove Docker images, only if they exist
          docker images -q | xargs -r docker rmi || true  # 'xargs -r' will skip if no images are found
          # Clean up all unused Docker resources (images, containers, volumes)
          docker system prune -a --volumes -f || true
          # Show disk space after cleanup
          df -h
      - name: Check Disk Space (After Cleanup)
        run: df -h

      # Step 3: Pull the Docker image from Docker Hub
      - name: Pull Docker image
        run: docker pull ivanrodri2020/offlinerl:latest


      - name: List files in the container
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/workspace \
          ivanrodri2020/offlinerl:latest \
          bash -c "ls -R /workspace"


      - name: Set permissions for workspace directory
        run: sudo chmod -R 777 ${{ github.workspace }}

      # Step 4: Convert Notebooks to HTML
      - name: Convert Notebooks to HTML
        run: |
          docker run --rm \
            -v /home/runner/work/offline-rl/offline-rl:/workspace \
            ivanrodri2020/offlinerl:latest \
            bash -c "mkdir -p /workspace/html_files && chmod -R 777 /workspace/html_files && cd /workspace/notebooks && jupyter nbconvert --to html --output-dir /workspace/html_files *.ipynb"
            
      # Step 5: Upload HTML files as GitHub Pages artifact (optional)
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html_files
